:root {
  --primary: rgb(71, 26, 129);
  --secondary: rgb(80, 62, 163);
  --dark: rgb(24, 23, 23);
  --light: rgb(238, 238, 238);
  --success: rgb(38, 151, 43);
  --danger: rgb(175, 43, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: var(--secondary);
}

header {
  font-size: 2em;
  color: var(--light);
  font-weight: 800;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.todo-form {
  width: 80%;
  max-width: 25rem;
  display: flex;
  justify-content: space-around;
}

.todo__input {
  width: 100%;
  padding-left: 1em;
  border: none;
}

.todo__input:focus {
  outline: none;
  border:1px solid var(--dark);
}

.todo__list {
  margin-top: 5em;
  width: 80%;
  max-width: 30rem;
  list-style: none;
}

.todo__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  font-size: 1.5em;
  padding: 1em;
}

.todo__list li:hover {
  background: var(--primary);
}

.todo__list li:hover .done-btn{
  background: var(--light);
  color: black;
}
 
.btn {
  border: none;
  padding: 1em 1.5em;
  color: black;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(120%);
}

.done-btn {
  background: var(--primary);
  color: white;
}

.delete-btn {
  background: var(--danger);
  color: white;
}

.add-btn {
  background: var(--success);
  color: white;
}
